@model EventMe.Models.ApplicationUser

<div class="row">
    <div class="col-md-11 user-left-panel-div">

        <div class="col-md-4 user-left-pannel-photo-container">
            <img src="@Model.ImageDataUrl" alt="@Model.UserName avatar" class="img-responsive user-left-pannel-photo" />
        </div>
        <p>@Model.UserName</p>
        <p>@Model.FullName</p>
    </div>
</div>




