@using Microsoft.AspNet.Identity;
@using PagedList.Mvc;
@using PagedList;

<div class="row home-container">
    @*LEFT SIDE BAR*@
    <div class="user-panel-container col-md-3">
        @Html.Partial("_UserLeftPanelPartial", (EventMe.Models.ApplicationUser)ViewBag.CurrentUser)
    </div>
    @*CENTER PAGE WITH EVENTS*@
    <div class="home-page-events-containter col-md-6">
        @*DISPLAY ALL EVENTS*@
        <h1 class="denter text-center">public Events list</h1>
    </div>
    @*RIGHT SIDE BAR*@
    <div class="left-panel-container col-md-3">
        @Html.Partial("_RightSidePanelPartial")
    </div>
</div>